{
    "short_name": "Gitea",
    "name": "Gitea - Git with a cup of tea",
    "icons": [
      {
        "src": "{{StaticUrlPrefix}}/img/diggit.svg",
        "type": "image/svg+xml",
        "sizes": "120x120 192x192 512x512 880x880"
      }
    ],
    "start_url": "{{AppSubUrl}}/",
    "scope": "{{AppSubUrl}}/",
    "background_color": "#FAFAFA",
    "display": "standalone",
    "theme_color": "{{ThemeColorMetaTag}}"
  }
